{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "WEPlatformBundle::layout.html.twig" %}

{% block title %}
  Tests - {{ parent() }}
{% endblock %}

{% block weplatform_body %}

  <h2>Liste de pages sur l'environment "{{ app.environment }}"</h2>

  {#<ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('we_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de pages</li>
    {% endfor %}
  </ul>#}
  
  {% if page is defined %}{{ dump(page) }}{% endif %}
  {% if pageData is defined %}{{ dump(pageData) }}{% endif %}

{% endblock %}